<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tax Calculator</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
</head>
<body>
    <h1>Tax Calculator</h1>
    <p>
        Welcome to the super simple Tax Calculator! To begin, simply enter your salary, the state you are from, and your marital status.
        Click submit, and then watch as you see your net pay and tax payments!
    </p>

    <form action="/tax-submission" method="post">
        <div>
            <label for="salary">Salary</label>
            <input name="salary" id="salary" type="number" th:value="${salary}" required>
        </div>

        <div>
            <label for="marital">Marital Status</label>
            <select name="marital" id="marital" th:value="${marital}" required>
                <option value="none">Select a Status...</option>
                <option value="SINGLE">Single</option>
                <option value="MARRIED_JOINTLY">Married filling jointly</option>
                <option value="MARRIED_SEPARATELY">Married filling separately</option>
            </select>
        </div>

        <div>
            <label for="state">State</label>
            <select name="state" id="state" th:value="${state}" required>
                <option value="none">Select a State...</option>
                <option value="alabama">Alabama</option>
                <option value="alaska">Alaska</option>
                <option value="arizona">Arizona</option>
                <option value="arkansas">Arkansas</option>
                <option value="california">California</option>
                <option value="colorado">Colorado</option>
                <option value="connecticut">Connecticut</option>
                <option value="delaware">Delaware</option>
                <option value="florida">Florida</option>
                <option value="georgia">Georgia</option>
                <option value="hawaii">Hawaii</option>
                <option value="idaho">Idaho</option>
                <option value="illinois">Illinois</option>
                <option value="indiana">Indiana</option>
                <option value="iowa">Iowa</option>
                <option value="kansas">Kansas</option>
                <option value="kentucky">Kentucky</option>
                <option value="louisiana">Louisiana</option>
                <option value="maine">Maine</option>
                <option value="maryland">Maryland</option>
                <option value="massachusetts">Massachusetts</option>
                <option value="michigan">Michigan</option>
                <option value="minnesota">Minnesota</option>
                <option value="mississippi">Mississippi</option>
                <option value="missouri">Missouri</option>
                <option value="montana">Montana</option>
                <option value="nebraska">Nebraska</option>
                <option value="nevada">Nevada</option>
                <option value="newhampshire">New Hampshire</option>
                <option value="newjersey">New Jersey</option>
                <option value="newmexico">New Mexico</option>
                <option value="newyork">New York</option>
                <option value="northcarolina">North Carolina</option>
                <option value="northdakota">North Dakota</option>
                <option value="ohio">Ohio</option>
                <option value="oklahoma">Oklahoma</option>
                <option value="oregon">Oregon</option>
                <option value="pennsylvania">Pennsylvania</option>
                <option value="rhodeisland">Rhode Island</option>
                <option value="southcarolina">South Carolina</option>
                <option value="southdakota">South Dakota</option>
                <option value="tennessee">Tennessee</option>
                <option value="texas">Texas</option>
                <option value="utah">Utah</option>
                <option value="vermont">Vermont</option>
                <option value="virginia">Virginia</option>
                <option value="washington">Washington</option>
                <option value="westvirginia">West Virginia</option>
                <option value="wisconsin">Wisconsin</option>
                <option value="wyoming">Wyoming</option>
            </select>
        </div>

        <button type="submit" value="Submit">Submit</button>
    </form>

    <h2>Results</h2>
    <p>Total Tax: $<span th:text="${tax}"/></p>
    <p>Total Net Pay: $<span th:text="${net}" /></p>
</body>
</html>